@charset 'utf-8';

.feedback>#feedback_btn{
  position: fixed;
  right:0;
  top:50%;
  z-index:10;
  transform:translateY(-50%) rotate(90deg);
  margin-right:-34px;
  padding:6px 30px;
  background-color:#000000;
  color:#ffffff;
  font-size:16px;
  cursor:pointer;
}
.feedback>.feedback_content{
  display:none;
  position:fixed;
  left:0;
  top:0;
  z-index:999999999;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.2);
  padding-top:10%;
}
.feedback>.feedback_content>.feedback_box{
  width:400px;
  background-color:#ffffff;
  margin:0 auto;
  padding:6px 20px 30px;
}
.feedback_box>p:nth-of-type(1){
  text-align:right;
  font-weight:bolder;
  font-size:20px;
  cursor: pointer;
}
.logo_img{
  display:flex;
  justify-content: center;
  margin-bottom:20px;
}
.logo_img>img{
  width:180px;
}
.feedback_box>h3{
  text-align:center;
  margin-bottom:20px;
}
.feedback_box>p{
  font-size:16px;
}
.feedback_box>select,.feedback_box>input{
  width:100%;
  border:1px solid #dddddd;
  border-radius:5px;
  padding:6px 12px;
  font-size:16px;
  margin-bottom:20px;
}
.button_box{
  text-align:center;
}
.button_box>input{
  width:120px;
  padding:6px 0;
  color:#ffffff;
}
.button_box>input:first-child{
  background-color:#999999;
  margin-right:20px;
}
.button_box>input:last-child{
  background-color:#000000;
}
.feedback_box>p:last-of-type{
  font-size:13px;
  font-style:italic;
  margin-bottom:40px;
}