@charset 'utf-8';

.footer,.footer a{
  color:white;
}
.footer article{
  margin-bottom:0;
}
.footer .content2{
  border:none;
}
.footer>.footer_top{
  background-color:#333333;
}
.footer_top .content2{
  display:flex;
  flex-flow:row nowrap;
  padding:20px 0;
}
.footer_top .content2>div{
  display:flex;
}
.footer_top .content2 p,.footer_top .content2 select{
  margin-right:10px;
}
.footer_top select{
  background-color:transparent;
  color:#ffffff;
}
.footer_top select option{
  color:#000000;
}

.footer>.footer_list,.footer>.footer_bottom{
  background-color:#000000;
}
.footer_list>ul.content2{
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  padding-bottom:0;
}
.footer_list>ul>li{
  width:30%;
  margin-bottom:50px;
}
.svg{
  display:flex;
  flex-flow:row nowrap;
}
.svg>p{
  margin-right:16px;
}
.footer_list>ul>li>p{
  padding:6px 0;
}
svg{
  width:20px;
  height:20px;
  fill:#ffffff;
}
svg:hover{
  fill:#b19c5e;
}

.footer_bottom>ul.content2{
  display:flex;
  flex-flow:row nowrap;
  justify-content: center;
  border-top:1px dotted rgba(255,255,255,0.5);
  padding:20px 0;
}
.footer_bottom>ul>li{
  margin-right:20px;
}
a:hover{
  color:#b19c5e;
}
@media (max-width:767px){
  .footer_top .content2{
    flex-flow:column nowrap;
  }
  .footer_list li:nth-child(1),
  .footer_list li:nth-child(3),
  .footer_list li:nth-child(6){
    width:100%;
  }
  .footer_list li:nth-child(2){
    display:none;
  }
  .footer_list li:nth-child(4),
  .footer_list li:nth-child(5){
    width:50%;
  }

}