@charset 'utf-8';

.header>.content{width:93.28125%;max-width:1194px;height:80px;display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;background-color:#ffffff;}
.nav>ul{display:flex;flex-flow:row nowrap;}
.nav>ul>li{padding-right:20px;}
.nav>ul>li>a{font-size:16px;}
.logo img{width:120px;}
.header_icons>ul{display:flex;}
.header_icons>ul>li{padding:0 16px;}
.header_icons>ul>li:nth-child(4)>a{display:inline-block;width:1px;height:20px;text-indent:-99999px;background:black;}
.header_icons>ul>li:last-child{padding-right:0;font-size:16px;}
.header_icons img{width:20px;}
.header_icons img:nth-child(2){display:none;}
