@charset 'utf-8';
.header{
  position: relative;
  height:80px;
}
.header>.content1{
  height:80px; 
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:center;
  background-color:#ffffff;
}
.nav>ul{
  display:flex;
  flex-flow:row nowrap;
}
.nav>ul>li{
  padding-right:20px;
}
.nav>ul>li>a{
  font-size:16px;
}
.submenu,.subwatche{
  position:absolute;
  left:0;
  bottom:100%;
  z-index:10;
  width:100%;
  background-color:transparent;
  transition:0.5s;
}
.submenu_list{
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;  
}

@media (max-width:767px){
  .submenu_list{
    flex-flow:column nowrap;
  }
  .submenu_list>li{
    width:100% !important;
  }
  .submenu_list>li:nth-child(5),
  .submenu_list>li:nth-child(6){
    width:100% !important;
  }
  .submenu_list>li:nth-child(1){
    order:2;
  }
  .submenu_list>li:nth-child(2){
    order:3;
  }
  .submenu_list>li:nth-child(3){
    order:4;
  }
  .submenu_list>li:nth-child(4){
    order:5;
  }
  .submenu_list>li:nth-child(5){
    order:1;
    margin-bottom:0;
  }
  .submenu_list>li:nth-child(6){
    order:6;
  }
  .submenu_list>li:nth-child(5) .submenu_txt{
    border-top:none;
  }
  .submenu_list>li:nth-child(5) .submenu_txt p{
    display:none;
  }
  .submenu_list>li:nth-child(5) .submenu_txt p:last-child{
    display:block;
  }
  .submenu_txt p{
    font-size:11px;
  }
  .submenu_txt p:first-child{
    font-weight:bold;
    font-size:12px;
  }
}

.submenu_list>li{
  width:22.75%;
  margin-bottom:20px;
}
.submenu_list>li:nth-child(5),
.submenu_list>li:nth-child(6){
  width:48.5%
}
.submenu_txt{
  border-top:4px solid #000000;
}
.submenu_txt>p{
  padding:8px 0;
}
.submenu_txt>p>a{
  transition:0.2s;
}
.submenu_txt>p>a:hover{
  color:#b19c5e;
}
.txt_bold{
  font-weight:bold;
}

.subwatche_list>li{
  border-top:4px solid #000000;
  padding:20px 0;
}
.coll_tit{
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
}
.coll_tit h4{
  font-weight:400;
  font-size:16px;
}
.coll_content{
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-around;
}
.watches{
  width:12%;
  padding-top:1000px;
  position: relative;
}
.watches img{
  width:100%;
  position: absolute;
  left:50%;
  top:0;
  transform:translateX(-50%);
  transition:0.2s;
}
.watches:hover img{
  width:105%;
}
.watches p{
  text-align:center;
}
.watches p span{
  color:#999999;
}
.watches:hover p span{
  color:#b19c5e;
}
.watche_list{
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
}
.watche_list p{
  padding:6px 0;
}
.watche_list p:first-child{
  padding-bottom:20px;
  font-size:14px;
}
.logo img{
  width:120px;  
}
.header_icons>ul{
  display:flex;
}
.header_icons>ul>li{
  padding:0 16px;
}
.header_icons>ul>li:nth-of-type(4)>a{
  display:inline-block;
  width:1px;
  height:20px;
  text-indent:-999999px;
  background-color:black;
}
.header_icons>ul>li:last-child{
  padding-right:0;
  font-size:16px;
}
.header_icons img{
  width:20px;
}
.header_icons img:nth-child(2){
  display:none;
}
.search_form{
  position: absolute;
  left:0;
  top:100%;
  z-index:10;
  width:100%;
  height:100%;
  padding:10px 10%;
  background-color:#f7f7f7;
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:center;
  display:none;
}
.search_form>input:first-child{
  outline:none;
}
.search_form>input:first-child,.search_form>input:last-child{
  width:70%;
  padding:6px;
  font-size:24px;
  background-color:#f7f7f7;
}
.search_form>input:last-child{
  width:10%;
  background-color:#000000;
  color:#ffffff;
  font-size:16px;
  cursor:pointer;
}
.search_form>input:last-child:hover{
  background-color:#666666;
}

.login_form{
  position:fixed;
  left:0;
  top:0;
  z-index:4;
  background-color:rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  display:none;
}
.login_form>.content1{
  padding:30px 0;
}
.login_close{
  text-align:right;
}
.login_close>#login_close_btn{
  width:30px;
  cursor:pointer;
}
.iwc_join{
  width:40%;
  margin:20px auto;
  padding:20px;  
  background:#ffffff;
}
.iwc_join>h2{
  font-weight:400;
  font-size:42px;
  text-align:center;
}
.iwc_join>h2>span{
  font-weight:bold;
}
.iwc_join>ul{
  text-align:center;
}
.iwc_join>ul>li{
  display:inline-block;
  margin:20px;
  font-size:20px;
  color:#999999;
  cursor: pointer;
}
.iwc_join>ul>li.active{
  color:#000000;
  border-bottom:2px solid #b19c5e;
}
.iwc_join>div{
  display:flex;
  flex-flow:column nowrap;
  margin:20px 0;
}
.iwc_join>div::after{
  content:'';
  display:block;
  font-size:12px;
  color:red;
  visibility:hidden;
}
.iwc_join>div.active::after{
  visibility:visible;
}
.iwc_join>div:nth-of-type(1)::after{
  content:'아이디는 이메일(e-mail) 형식(예:pam7461@hanmail.net)으로 입력하세요';
}
.iwc_join>div:nth-of-type(2)::after{
  content:'패스워드는 반드시 영문+숫자+특수기호를 이용하여 6~12자 범위로 입력하세요';
}

.iwc_join>div>label{
  height:30px;
  font-size:16px;
  transition:0.3s;
}
.iwc_join>div>label.active{
  font-size:12px;
}
.iwc_join>div>input{
  margin-top:-20px;
  padding:6px 10px;
  border-bottom:1px solid #999999;
  background-color:transparent;
  font-size:24px;
  outline:none;
}
.iwc_join>div>input.active{
  border-bottom:1px solid #000000;
}
.iwc_join>p{
  text-align:center;
  margin:20px 0;
}
.iwc_join>p>a:hover{
  color:#b19c5e;
  text-decoration:underline;
}
.iwc_join>input{
  display:block;
  margin:20px auto;
  border:1px solid #000000;
  padding:10px 60px;
  outline:none;
  cursor: pointer;
  color:#000000;
  background-color:#ffffff;  
  transition:0.3s;
}
.iwc_join>input:hover{
  color:#ffffff;
  background-color:#000000; 
}
#lang_btn{
  position: relative;
}
.lang_box{
  position: absolute;
  right:0;
  top:100%;
  width:300px; 
  display:none; 
}
.lang_box>.tri{
  display:flex;
  flex-flow:row nowrap;
}
.lang_box>.tri>li:nth-child(1){
  width:90%;
}
.lang_box>.tri>li:nth-child(2){
  width:20px;
  height:20px;
  border:10px solid transparent;
  border-bottom-color:#ffffff;
}
.lang_container{
  padding:20px;
  background-color:#ffffff;
  box-shadow:
  0 5px 10px rgba(0,0,0,0.2),
  0 -5px 10px rgba(0,0,0,0.2),
  5px 0 10px rgba(0,0,0,0.2),
  -5px 0 10px rgba(0,0,0,0.2);
}
.lang_container>hr{
  margin:10px 0;
  height:3px;
  background-color:black;
}
.lang_container>p{
  margin:10px 0;
}
.lang_container>p:nth-of-type(1){
  text-align:center;
}
.lang_container>p:nth-of-type(2){
  font-size:14px;
  color:#666666;
}
.lang_container>h4{
  margin:10px 0;
  border-bottom:1px dotted rgba(177, 156, 94,0.5);
  padding-bottom:6px;
  font-weight:normal;
  font-size:12px;
  cursor:pointer;
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
}
.lang_container>h4::after{
  content:'>';
  display:inline-block;
}
.lang_container>ul{
  margin:10px 0;
  overflow-y:scroll;
  display:none;
}
.lang_container>ul>li{
  border-bottom:1px solid rgba(0,0,0,0.1);
  padding:2px 0;
  font-size:14px;
  text-indent:20px;
}
.lang_container>ul.lang{
  height:100px;
}
.lang_container>ul.national{
  height:200px;
}

.rotate_sim{
  display:inline-block;
  transition:0.3s;
}
.rotate_sim.active{
  transform:rotate(180deg);
}

/* 테블릿 스타일 */
@media (max-width:767px){
  .nav>ul>li:first-child::before{
    content:'\2630';
    font-size:24px;
    cursor:pointer;
  }
  .nav>ul>li>a{
    display:none;
  }
  .coll_tit{
    flex-flow:column nowrap;
    justify-content:flex-start;
  }
  .coll_tit p{
    font-size:16px;
  }
  .coll_tit p a{
    color:#999999;
    transition:0.2s;
  }
  .coll_tit p a:hover{
    color:#b19c5e;
  }
  .coll_content{
    flex-flow:row wrap;
  }
  .watches{
    width:140px;
  }

  .logo img{
    width:100px;  
  }
  .header_icons>ul>li:nth-child(3),
  .header_icons>ul>li:nth-child(4),
  .header_icons>ul>li:nth-child(5){
    display:none;
  }
  .header_icons>ul>li{
    padding:0 8px;
  }
  .search_form>input:last-child{
    display:none;
  }
  .iwc_join {
    width: 100%;
  }
}