@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{
  box-sizing:border-box;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:300;
  font-size:12px;
  color:#000000;
}
.content1{
  width:93.28125%;
  max-width:1194px;
  margin:0 auto;
}

.content2{
  width:73.4375%;
  max-width:940px;
  margin:0 auto;
}

.section,article{
  margin-bottom:40px;
}
